.card {
    display: flex;
    min-height: 400px;
    max-height: 400px;
    min-width: 250px;
    max-width: 250px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid rgb(232, 234, 238);
    flex-direction: column;
 /* -webkit-box-shadow: 0px 4px 21px 8px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 4px 21px 8px rgba(0,0,0,0.75);
box-shadow: 0px 4px 21px 8px rgba(0,0,0,0.75); */
}

.card img {
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card .card-body {
    padding: 16px;
}

.card .card-footer {
    padding: 10px;
}

.card .card-body  button {
    border-radius: 16px;
    border: 1px solid rgb(232, 234, 238);
    background: rgb(249, 250, 251);
    color: rgb(87, 97, 117);
    font-size: 12px;
    font-weight: 450;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 8px 12px;
    width: fit-content;
}

.card .card-footer button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 234, 238);
    padding: 12px 16px 12px 24px;
    justify-content: center;
    color: rgb(43, 48, 59);
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.card .card-footer button:hover {
    background-color: blue;
    color: white;
}

.tag {
    position: absolute;
    background-color: blue;
    color: white;
}
