
p {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* p:hover {
    overflow: visible;
} */

.container-scroll{
    height: 200px;
    width: 300px;
    border: 2px solid red;
    /* overflow: hidden; */
        /* overflow: visible; */
        overflow-x: scroll;
        overflow: scroll;
        /* white-space: nowrap; */
    /* overflow: hidden , scroll; */

}

.container-word-wrap {
    min-height: 100px;
    width: 100px;
    border: 2px solid red;
    margin-top: 10px;
    word-wrap: break-word;
    /* writing-mode: vertical-rl; */
    /* writing-mode: vertical-lr; */
}

/* word wrapping */